.wrapper {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 100px [col-start]);
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 2fr [row2-end];
}

.item {
  grid-column-start: col-start 2;
}
.item-1 {
  background-color: pink;
}
.item-2 {
  background-color: tomato;
}
.item-3 {
  background-color: orange;
}

.item-4 {
  grid-area: header;
  background-color: rgb(37, 80, 37);
}
.item-5 {
  grid-area: main;
  background-color: green;
}
.item-6 {
  grid-area: sidebar;
  background-color: greenyellow;
}
.item-7 {
  grid-area: footer;
  background-color: rgb(241, 177, 58);
}

.container-1 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 1fr 5fr 50px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer sidebar";
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 100px;
  place-items: end start;
}

.item-1 {
  background-color: pink;
}
.item-2 {
  background-color: tomato;
}
.item-3 {
  background-color: orange;
}
.item-a {
  width: 80px;
  height: 80px;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  place-items: end start;
  place-content: center;
}
.item-b {
  background-color: aqua;
  width: 80px;
  height: 80px;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 50px);
  grid-gap: 5px;
  grid-auto-columns: 75px;
  grid-auto-rows: 100px;
  grid-auto-flow: column;
  /* grid-auto-flow: row dense; */
}
.item-c {
  background-color: aqua;
}
.item-33 {
  grid-column: 4/5;
}
.item-37 {
  grid-column: 1/3;
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: rgb(238, 167, 59);
}
.grid-item {
  width: 100px;
  height: 100px;
  background-color: aqua;
  grid-column: 2 / 7;

  display: grid;
  grid-template-columns: subgrid;
}
.child-of-grid-item {
  /* gets to participate on parent grid! */
  grid-column: 3 / 6;
}
